= render 'items/header'
%main.mypage__container.clearfix
  =render partial: 'users/sidemenu', locals: {active_menu: "本人情報"}
  =render 'users/profiles/userprofile'

= render 'items/appbanner'
-# footerの部分テンプレート呼び出し
= render 'items/footer'
= render 'items/camerabutton'