.mypage__side
  %nav.mypage__nav
    %ul.mypage__nav__list
      %li
        %a.mypage__nav__list-item__active{href: "/jp/mypage/"}
          マイページ
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/notification/"}
          お知らせ
          %span.mypage-nav-number
            99+
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/todo/"}
          やることリスト
          %span.mypage-nav-number
            1
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/like/history/"}
          いいね！一覧
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/sell/"}
          出品する
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/drafts/"}
          下書き一覧
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/listings/listing/"}
          出品した商品 - 出品中
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/listings/in_progress/"}
          出品した商品 - 取引中
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/listings/completed/"}
          出品した商品 - 売却済み
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/purchase/"}
          購入した商品 - 取引中
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/purchased/"}
          購入した商品 - 過去の取引
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/news/"}
          ニュース一覧
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/review/history/"}
          評価一覧
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/help_center/"}
          ガイド
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/support/"}
          お問い合わせ
          %i.icon-arrow-right
    %h3.mypage__nav__head メルペイ
    %ul.mypage__nav__list
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/sales/"}
          残高・振込申請
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/point/"}
          ポイント
          %i.icon-arrow-right
    %h3.mypage__nav__head 設定
    %ul.mypage__nav__list
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/profile/"}
          プロフィール
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/deliver_address/"}
          発送元・お届け先住所変更
          %i.icon-arrow-right
      %li
        = link_to("支払い方法", "#{current_user.id}/credit_card", class:"mypage__nav__list-item")
        -# %a.mypage__nav__list-item{href: "/jp/mypage/card/"}
          支払い方法
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/email_password/"}
          メール/パスワード
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/identification/"}
          本人情報
          %i.icon-arrow-right
      %li
        %a.mypage__nav__list-item{href: "/jp/mypage/sms_confirmation/"}
          電話番号の確認
          %i.icon-arrow-right