<main class=" l-container clearfix">
    <div class="l-content">
          <section class="mypage-user-icon">
    <a href="https://www.mercari.com/jp/u/593500295/">
      <figure>
        <img src="//static.mercdn.net/thumb/members/593500295.jpg?1485573557" alt="" width="60" height="60">
      </figure>
            <h2 class="bold">Tech1</h2>
      <div class="mypage-number">
        <div>評価 <span class="bold">42</span></div>
        <div>出品数 <span class="bold">37</span></div>
      </div>
    </a>
  </section>

    <section class="mypage-tab-container-notification-todo">

  <ul class="mypage-tabs">
        <li class="active">
      <h3>
        <a href="#mypage-tab-notification" data-toggle="tab">
          お知らせ
                  <span class="mypage-nav-number hidden-large">
                          99+
                      </span>
                </a>
      </h3>
    </li>

        <li class="">
      <h3>
        <a href="#mypage-tab-todo" data-toggle="tab">
          やることリスト
                  <span class="mypage-nav-number hidden-large">
                          1
                      </span>
                </a>
      </h3>
    </li>
  </ul>

  <div class="tab-content">
        <ul id="mypage-tab-notification" class="mypage-item-list tab-pane active">
                        <li>
                          <a href="https://www.mercari.com/jp/mypage/news/" class="mypage-item-link">
                          <figure>
                <img data-src="//static.mercdn.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static.mercdn.net/images/mercari_profile.png">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">事務局から個別メッセージ「ログイン通知」</div>
                <time><i class="icon-time"></i><span>0 秒前</span></time>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
                  <li>
                                        <a href="" class="mypage-item-link" data-open="modal" data-modal="banner">
                          <figure>
                <img data-src="//static.mercdn.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static.mercdn.net/images/mercari_profile.png">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">《メルカリｘマイナポイントがお得》メルカリで買うと最大でP5,000+P1,000もらえる！事前準備はこちら</div>
                <time><i class="icon-time"></i><span>1 日前</span></time>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
                  <li>
                                        <a href="" class="mypage-item-link" data-open="modal" data-modal="banner">
                          <figure>
                <img data-src="//static.mercdn.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static.mercdn.net/images/mercari_profile.png">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">《最大P1,000もらえる♪》dアカウント連携してGETしよう！ドコモ以外も全員対象！</div>
                <time><i class="icon-time"></i><span>5 日前</span></time>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
                  <li>
                          <a href="https://www.mercari.com/jp/mypage/news/" class="mypage-item-link">
                          <figure>
                <img data-src="//static.mercdn.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static.mercdn.net/images/mercari_profile.png">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">事務局から個別メッセージ「商品削除のお知らせ」</div>
                <time><i class="icon-time"></i><span>6 日前</span></time>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
                  <li>
                          <a href="https://www.mercari.com/jp/mypage/news/" class="mypage-item-link">
                          <figure>
                <img data-src="//static.mercdn.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static.mercdn.net/images/mercari_profile.png">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">事務局から個別メッセージ「ログイン通知」</div>
                <time><i class="icon-time"></i><span>6 日前</span></time>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
                          <li class="mypage-go-list">
            <a href="/jp/mypage/notification/">一覧を見る</a>
          </li>
                  </ul>

        <ul id="mypage-tab-todo" class="mypage-item-list tab-pane">
                        <li>
                          <a href="https://www.mercari.com/jp/mypage/email_password/" class="mypage-item-link">
                          <figure>
                <img data-src="//static.mercdn.net/images/mercari_profile.png" class="lazyload" alt="">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">メールが届いていない状態です。設定しているメールアドレスをご確認ください</div>
                <time><i class="icon-time"></i><span>48 日前</span></time>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
                          <li class="mypage-go-list">
            <a href="/jp/mypage/todo/">一覧を見る</a>
          </li>
                  </ul>
  </div>
</section>


  <aside class="modal" data-modal="banner" data-close="modal">
    <div class="modal-inner modal-banner">
      <div class="modal-banner-eye-catch">
        <img src="//pcweb-assets.mercdn.net/assets/img/common/jp/top/main_content_pc.png?3708682721" alt="">
        <img src="//pcweb-assets.mercdn.net/assets/img/common/common/logo.svg?3708682721" alt="">
      </div>

      <div class="modal-banner-body">
        <h2>今すぐ無料ダウンロード！</h2>
        <p class="bold">全ての機能を使えるスマホアプリはこちら！</p>

        <div class="modal-banner-app clearfix">
          <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" target="_blank" class="pull-left">
            <img src="//pcweb-assets.mercdn.net/assets/img/common/common/app-store.svg?3708682721" alt="">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja" target="_blank" class="pull-left">
            <img src="//pcweb-assets.mercdn.net/assets/img/common/common/google-play.svg?3708682721" alt="">
          </a>
        </div>

        <a href="" class="modal-banner-app-open" data-toggle="open-app" data-url-scheme="mercari://" data-action="app/launch" data-play-id="com.kouzoh.mercari">
          アプリで開く
        </a>
      </div>

      <i class="icon-close" data-close="modal"></i>
    </div>
  </aside>
















    <section class="mypage-tab-container">
  <h2 class="mypage-tab-head">購入した商品</h2>

  <ul class="mypage-tabs">
        <li class="active">
      <h3>
        <a href="#mypage-tab-transaction-now" data-toggle="tab">
            取引中
        </a>
      </h3>
    </li>

        <li class="">
      <h3>
        <a href="#mypage-tab-transaction-old" data-toggle="tab">
            過去の取引
        </a>
      </h3>
    </li>
  </ul>
  <div class="tab-content">
        <ul id="mypage-tab-transaction-now" class="mypage-item-list tab-pane active">
              <li class="mypage-item-not-found bold">取引中の商品がありません</li>
          </ul>

        <ul id="mypage-tab-transaction-old" class="mypage-item-list tab-pane">
                                    <li>
              <a href="https://www.mercari.com/jp/transaction/order_status/m95269895967/" class="mypage-item-link">
                <figure>
                  <img data-src="//static.mercdn.net/thumb/photos/m95269895967_1.jpg?1579615319" class="lazyload" alt="">
                </figure>
                <div class="mypage-item-body">
                  <div class="mypage-item-text">
                    「siroca 4L 電気圧力鍋　ホワイト SP-4D171 シロカ」 を購入しました。
                    <span>取引が完了しました</span>                  </div>
                  
            
      
<div class="mypage-item-status bold done">
  取引完了
</div>
                </div>
                <i class="icon-arrow-right"></i>
              </a>
            </li>
                                        <li>
              <a href="https://www.mercari.com/jp/transaction/order_status/m55596442625/" class="mypage-item-link">
                <figure>
                  <img data-src="//static.mercdn.net/thumb/photos/m55596442625_1.jpg?1574080785" class="lazyload" alt="">
                </figure>
                <div class="mypage-item-body">
                  <div class="mypage-item-text">
                    「CFP 精選過去問題集 2018〜2019年  ライフプランニング」 を購入しました。
                    <span>取引が完了しました</span>                  </div>
                  
            
      
<div class="mypage-item-status bold done">
  取引完了
</div>
                </div>
                <i class="icon-arrow-right"></i>
              </a>
            </li>
                                        <li>
              <a href="https://www.mercari.com/jp/transaction/order_status/m46215870580/" class="mypage-item-link">
                <figure>
                  <img data-src="//static.mercdn.net/thumb/photos/m46215870580_1.jpg?1574080587" class="lazyload" alt="">
                </figure>
                <div class="mypage-item-body">
                  <div class="mypage-item-text">
                    「CFP 精選過去問題集 2018〜2019年  リスクと保険」 を購入しました。
                    <span>取引が完了しました</span>                  </div>
                  
            
      
<div class="mypage-item-status bold done">
  取引完了
</div>
                </div>
                <i class="icon-arrow-right"></i>
              </a>
            </li>
                                        <li>
              <a href="https://www.mercari.com/jp/transaction/order_status/m24534089083/" class="mypage-item-link">
                <figure>
                  <img data-src="//static.mercdn.net/thumb/photos/m24534089083_1.jpg?1574080385" class="lazyload" alt="">
                </figure>
                <div class="mypage-item-body">
                  <div class="mypage-item-text">
                    「CFP 精選過去問題集 2018〜2019年  不動産運用設計」 を購入しました。
                    <span>取引が完了しました</span>                  </div>
                  
            
      
<div class="mypage-item-status bold done">
  取引完了
</div>
                </div>
                <i class="icon-arrow-right"></i>
              </a>
            </li>
                                        <li>
              <a href="https://www.mercari.com/jp/transaction/order_status/m67053114610/" class="mypage-item-link">
                <figure>
                  <img data-src="//static.mercdn.net/thumb/photos/m67053114610_1.jpg?1574080256" class="lazyload" alt="">
                </figure>
                <div class="mypage-item-body">
                  <div class="mypage-item-text">
                    「CFP 精選過去問題集 2018〜2019年 金融資産運用設計」 を購入しました。
                    <span>取引が完了しました</span>                  </div>
                  
            
      
<div class="mypage-item-status bold done">
  取引完了
</div>
                </div>
                <i class="icon-arrow-right"></i>
              </a>
            </li>
                                    <li class="mypage-go-list">
            <a href="/jp/mypage/purchased/">一覧を見る</a>
          </li>
                  </ul>
  </div>
</section>
  </div>

    <div class="l-side">
      <nav class="mypage-nav">

    
  <ul class="mypage-nav-list">
        <li>
      <a href="/jp/mypage/" class="mypage-nav-list-item active">
        マイページ
        <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/notification/" class="mypage-nav-list-item ">
        お知らせ
                  <span class="mypage-nav-number">
                          99+
                      </span>
                <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/todo/" class="mypage-nav-list-item ">
        やることリスト
                  <span class="mypage-nav-number">
                          1
                      </span>
                <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/like/history/" class="mypage-nav-list-item ">
        いいね！一覧
        <i class="icon-arrow-right"></i>
      </a>
    </li>

                <li>
      <a href="/jp/sell/" class="mypage-nav-list-item">
        出品する
        <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/drafts/" class="mypage-nav-list-item ">
        下書き一覧
        <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/listings/listing/" class="mypage-nav-list-item ">
        出品した商品 - 出品中
        <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/listings/in_progress/" class="mypage-nav-list-item ">
        出品した商品 - 取引中
        <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/listings/completed/" class="mypage-nav-list-item ">
        出品した商品 - 売却済み
        <i class="icon-arrow-right"></i>
      </a>
    </li>
    
        <li>
      <a href="/jp/mypage/purchase/" class="mypage-nav-list-item ">
        購入した商品 - 取引中
        <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/purchased/" class="mypage-nav-list-item ">
        購入した商品 - 過去の取引
        <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/news/" class="mypage-nav-list-item ">
        ニュース一覧
        <i class="icon-arrow-right"></i>
      </a>
    </li>

            <li>
      <a href="/jp/mypage/review/history/" class="mypage-nav-list-item ">
        評価一覧
        <i class="icon-arrow-right"></i>
      </a>
    </li>
    
        <li>
      <a href="/jp/help_center/" class="mypage-nav-list-item">
        ガイド
        <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/support/" class="mypage-nav-list-item ">
        お問い合わせ
        <i class="icon-arrow-right"></i>
      </a>
    </li>
  </ul>

    <h3 class="mypage-nav-head">メルペイ</h3>
  <ul class="mypage-nav-list">
        <li>
      <a href="/jp/mypage/sales/" class="mypage-nav-list-item ">
                  残高・振込申請
                <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/point/" class="mypage-nav-list-item ">
        ポイント
        <i class="icon-arrow-right"></i>
      </a>
    </li>
  </ul>

    <h3 class="mypage-nav-head">設定</h3>
  <ul class="mypage-nav-list">
        <li>
      <a href="/jp/mypage/profile/" class="mypage-nav-list-item ">
        プロフィール
        <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/deliver_address/" class="mypage-nav-list-item ">
        発送元・お届け先住所変更
        <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/card/" class="mypage-nav-list-item ">
        支払い方法
        <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/email_password/" class="mypage-nav-list-item ">
        メール/パスワード
        <i class="icon-arrow-right"></i>
      </a>
    </li>

        <li>
      <a href="/jp/mypage/identification/" class="mypage-nav-list-item ">
        本人情報
        <i class="icon-arrow-right"></i>
      </a>
    </li>

            <li>
      <a href="/jp/mypage/sms_confirmation/" class="mypage-nav-list-item ">
        電話番号の確認
        <i class="icon-arrow-right"></i>
      </a>
    </li>
    
        <li>
      <a href="/jp/logout/" class="mypage-nav-list-item ">
        ログアウト
        <i class="icon-arrow-right"></i>
      </a>
    </li>
  </ul>

</nav>
  </div>
</main>