* {
  box-sizing: border-box;
}

.customer-card{
  background-color: white;
  text-align: left;
  // display: flex;
  &__content{
    float: left;
    &__number{  
    }
    &__expired{  
    }
    &__item{ 
      &__link{
        text-decoration: none;
        color: deepskyblue;
      }
    }
  }
  &__delete{  
    float: right;
    margin-top: -30px;
  }
}