main.itemdetail-background{
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    .itemdetail{
        display: block;
        background-color: #ffffff;
        height: 100%;
        width: 950px;
        padding: 24px 40px 55px;
        margin: 0 auto 0;
        h1.itemdetail--name{
            font-size: 24px;
            text-align: center;
            line-height: 1.4;
        }
        &__content{
            margin: 16px 0 16px 0;
            height: 100%;
            &__photo{
                float: left;
                position: relative;
                margin: 0 auto;
                background: #fafafa;
            }
            table.itemdetail__content__table{
                float: right;
                height: 420px;
                width: 50%;
                margin: 0 auto;
                margin-bottom: 24px;
                display: table;
                border-collapse: collapse;
                border-spacing: 0;
                border: 1px solid #f5f5f5;
                tbody.itemdetail__content__table__body{
                    display: table-row-group;
                    vertical-align: middle;
                    tr{
                        display: table-row;
                        th{
                            width: 33%;
                            text-align: left;
                            font-weight: 400;
                            background: #fafafafa;
                            padding: 8px;
                            border: 1px solid #f5f5f5;
                        }
                        td{
                            width: 67%;
                            padding: 8px;
                            a{
                                margin: 0;
                                display: block;
                                color: #0099e8;
                                text-decoration: none;
                                touch-action: manipulation;
                            }
                            .item-user-ratings{
                                margin: 0;
                                display: inline-block;
                                i.icon-good{
                                    height: 20px;
                                    width: 20px;
                                    font-size: 16px;
                                    color: red;
                                    vertical-align: middle;
                                }
                                i.icon-bad{
                                    height: 20px;
                                    width: 20px;
                                    font-size: 16px;
                                    color: blue;
                                    vertical-align: middle;
                                }
                            }
                            .item-detail-table-category{
                                i.fa-angle-right{
                                    display: inline-block;
                                    height: 20px;
                                    width: 20px;
                                    font-size: 16px;
                                    vertical-align: middle;
                                    font-weight: 400;
                                    line-height: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__pricebox{
            clear: both;
            margin: 24px 0 0;
            text-align: center;
            &__price{
                margin: 0 16px 0 0;
                font-size: 50px;
                font-weight: 600;
                display: inline-flex;
            }
            &__tax{
                font-size: 16px;
                display: inline-flex;
            }
            &__shippingfee{
                font-size: 16px;
                display: inline-flex;
            }
        }
        a.itemdetail__buy-button{
            font-size: 24px;
            line-height: 60px;
            display: block;
            margin-top: 16px;
            background: #2bccd1;
            color: #fff;
            text-align: center;
            font-weight: 600;
            transition: ease-out .3s;
            text-decoration: none;
            touch-action: manipulation;
        }
        &__description{
            padding: 32px 0 0;
            line-height: 1.5;
            font-size: 16px;
            p.itemdetail__description__inner{
                white-space: pre-wrap;
            }
        }
        &__buttons{
            margin: 16px 0 0;
            font-size: 0;
            clear: both;
            &__left{
                float: left;
                button.like-btn{
                    color: #333;
                    border: 1px solid #f5f5f5;
                    background: #f5f5f5;
                    display: inline-flex;
                    padding: 8px 16px;
                    border-radius: 40px;
                    transition: all ease-out .3s;
                    outline: 0;
                    cursor: pointer;
                    touch-action: manipulation;
                    overflow: visible;
                    i.like-icon-border{
                        font-size: 14px;
                        vertical-align: middle;
                        display: inline-block;
                        font-weight: 400;
                        line-height: 1;
                        color: #ccc;
                    }
                    span{
                        font-size: 14px;
                        display: inline-block;
                        margin: 1px 0 0 8px;
                        vertical-align: middle;
                    }
                    span.like-count{
                        animation: fade-in-down ease-out .4s forwards;
                        font-size: 14px;
                        display: inline-block;
                        margin: 1px 0 0 8px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .itemcomment{
        width: 950px;
        margin: 8px auto;
        &__box{
            &__content{
                padding: 24px;
                background: #fff;
                form.message-form{
                    p{
                        padding: 8px;
                        font-size: 14px;
                        background: #fff6de;
                    }
                    textarea.textarea-default{
                        margin: 8px 0 0;
                        display: block;
                        width: 100%;
                        min-height: 104px;
                        padding: 10px;
                        border: 1px solid #ccc;
                        background: #fff;
                        font-size: 16px;
                        line-height: 1.5;
                        border-radius: 0;
                        outline: 0;
                        touch-action: manipulation;
                        resize: vertical;
                    }
                    button.message-submit-btn{
                        width: 100%;
                        margin: 8px 0 0;
                        font-size: 0;
                        text-align: center;
                        background: #aaa;
                        border: 1px solid #aaa;
                        color: #fff;
                        display: block;
                        line-height: 40px;
                        border-radius: 4px;
                        transition: all ease-out .3s;
                        cursor: pointer;
                        min-height: 1.5em;
                        outline: 0;
                        touch-action: manipulation;
                        span{
                            font-size: 14px;
                            vertical-align: middle;

                        }
                    }
                }
            }
        }
    }
}