* {
  box-sizing: border-box;
}

.purchase {
  background-color: #f0f0f0;
  text-align: center;
  &__header{
    background-color: #f0f0f0;
    height: 130px;
    width: 100vw;
    padding-top: 40px;
    &__logo{

    }
  }
  &__body{
    background-color: white;
    height: calc(100vh - 130px - 170px);
    width: 700px;
    margin: 0 auto;
    padding: 0 170px;
    &__title{
      background-color: white;
      height: 90px;
      font-size: 24px;
      padding-top: 30px;
    }
    &__item{
      background-color: white;
      height: 125px;
      padding: 28px 16px;
      &__img{
        float: left;
      }
      &__right{
        height: 70px;
        width: 200px;
        float: right;
        &__name{
          text-align: left;
          font-size: 14px;
          line-height: 1.4em;
          margin-bottom: 8px;
        }
        &__object{
          font-size: 14px;
          display: flex;
          margin-left: 50px;
          &__price{
            margin-left: 10px;
          }
        }
      }
    }
    &__price{
      background-color: white;
      height: 125px;
      padding: 28px 16px;
      display: flex;
      justify-content: space-between;
      border: solid #f0f0f0;
      border-width: 1px 0 0 0;
      &__word{
        font-size: 18px;
      }
      &__price{
        font-size: 24px;
      }
    }
    &__way-to-pay{
      background-color: white;
      height: 170px;
      padding: 28px 16px;
      font-size: 15px;
      border: solid #f0f0f0;
      border-width: 1px 0 0 0;
      &__title{
        display: flex;
        justify-content: space-between;
        &__li{

        }
        &__link{
          text-decoration: none;
          color: deepskyblue;
        }
      }
      &__credit{
        text-align: left;
        margin: 8px 0 0;
        &__p{
          
        }
        &__img{
          margin: 8px 0 0;
        }
      }
    }
    &__sending-destination{
      background-color: white;
      height: 130px;
      padding: 28px 16px;
      font-size: 15px;
      border: solid #f0f0f0;
      border-width: 1px 0 0 0;
      &__title{
        display: flex;
        justify-content: space-between;
        margin: 0 0 8px;
        &__li{

        }
        &__link{
          text-decoration: none;
          color: deepskyblue;
        }
      }
      &__location{
        text-align: left;
        &__p{
          
        }
      }
    }
    &__bottom-to-buy{
      background-color: white;
      height: 90px;
      padding: 28px 16px;
      display: block;
      border: solid #f0f0f0;
      border-width: 1px 0 0 0;
      &__object{
        background-color: red;
        height: 40px;
        width: 330px;
        padding-top: 9px;
        border-radius: 5px;
        font-size: 15px;
        padding-bottom: 1px;
        &__link{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  &__footer{
    background-color: #f0f0f0;
    height: 170px;
    width: 100vw;
    
    &__top-content{
      padding: 30px 250px 0;
      font-size: 14px;
      &__object-1{
        text-decoration: none;
        color: black;
      }
      &__object-2{
        text-decoration: none;
        color: black;
        margin-left: 30px;
      }
      &__object-3{
        text-decoration: none;
        color: black;
        margin-left: 30px;
      }
    }
    &__logo{
      padding: 20px 0 0;
    }
    &__copy{

    }
  }
}