@mixin backVisual($url, $position) {
	background-image: url(asset_path($url));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: $position;
}
@mixin textShadow {
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

@mixin dlBtn {
	margin-top: 30px;
	display: flex;
	img:hover {
	  opacity: 0.5;
	}
	.downloadBtn {
	  width: 180px;
	}
	.aBtn {
	  margin-right: 10px;
	}
}

main.clearfix::after{
	content: '';
	display: block;
	clear: both;
}

main.mypage__container{
	margin: 40px auto 0;
	width: 1020px;
	padding: 0 0 40px;
	display: block;
	.mypage__side{
		float: left;
		width: 280px;
		margin: 0 40px 0 0;
		nav.mypage__nav{
			display: block;
			ul.mypage__nav__list{
				list-style: none;
				li:first-child{
					border: 0;
					height: 48px;
					border-top: 1px solid #eee;
					a.mypage__nav__list-item{
						position: relative;
						display: block;
						min-height: 48px;
						padding: 16px;
						background: #fff;
						font-size: 14px;
						color: #333;
						text-decoration: none;
					}
					a.mypage__nav__list-item__active{
						position: relative;
						display: block;
						min-height: 48px;
						padding: 16px;
						background: #eee;
						font-size: 14px;
						color: #333;
						text-decoration: none;
					}
				}
				li{
					height: 48px;
					border-top: 1px solid #eee;
					a.mypage__nav__list-item{
						position: relative;
						display: block;
						min-height: 48px;
						padding: 16px;
						background: #fff;
						font-size: 14px;
						color: #333;
						text-decoration: none;
					}
				}
			}
			h3.mypage__nav__head{
				margin: 40px 0 0;
				font-size: 16px;
			}
		}
	}
	.mypage__content{
		float: right;
		width: 700px;
		section.mypage__user-icon{
			height: 200px;
			position: relative;
			padding: 20px;
			background: url(asset_path("pict/user-bg.jpg"));
			background-repeat: no-repeat;
			background-size: cover;
			text-align: center;
			a{
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				transform: translate(0, -50%);
				color: #333;
				text-decoration: none;
				.mypage__number{
					margin:	8px 0 0;
					font-size:	0;
					.bold{
						font-weight: 600;
					}
				}
			}
		}
		section.mypage__tab-container{
			margin: 0;
			background: #fff;
			display: block;
			h2.mypage__tab-head{
				padding: 0 4%;
				background: #fafafa;
				font-size: 16px;
				line-height: 72px;
			}
			ul.mypage__tabs{
				border: 0;
				background: #eee;
				font-size: 0;
				list-style: none;
				li.active{
					background: #fff;
					width: 50%;
					display: inline-block;
					text-align: center;
					vertical-align: top;
					h3{
						font-size: 22px;
						a{
							border-top: 2px solid #2BCCD1;
							position: relative;
							display: block;
							color: #333;
							font-size: 16px;
							line-height: 72px;
							text-decoration: none;
						}
					}
				}
				li{
					width: 50%;
					display: inline-block;
					text-align: center;
					vertical-align: top;
					h3{
						font-size: 22px;
						a{
							position: relative;
							display: block;
							color: #333;
							font-size: 16px;
							line-height: 72px;
							text-decoration: none;
						}
					}
				}
			}
			.mypage__tab-content{
				ul.mypage__item-list--active{
					display: block;
					list-style: none;
					li{
						border-bottom: 1px solid #eee;
						height: 80px;
						position: relative;
						a.mypage__item-link{
							display: block;
							height: 48px;
							padding: 16px;
							color: #333;
							text-decoration: none;
							touch-action: manipulation;
							figure{
								position: relative;
								overflow: hidden;
								margin: 0;
								float: left;
								width: 48px;
								height: 48px;
								img{
									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									left: 0;
									z-index: 1;
									width: 100%;
								}
							}
						}
						.mypage__item-body{
							margin: 0 40px 0 68px;
							text-decoration: none;
							font-size: 14px;
							line-height: 21px;
							&__text{
								overflow: hidden;
								display: -webkit-toolbox;
								max-height: 4.4em;
								text-overflow: ellipsis;
								line-height: 1.5;
							}
						}
					}
					li.mypage__go-list{
						border: 0;
						border-bottom: 1px solid #eee;
						position: relative;
						padding: 16px;
						a{
							display: block;
							height: 56px;
							margin: 0 auto;
							background: #eee;
							color: #333;
							line-height: 56px;
							text-align: center;
							text-decoration: none;
							touch-action: manipulation;
						}
					}
				}
				ul.mypage__item-list{
					display: none;
					list-style: none;
				}
			}
		}
	}
}
.bottomDl {
	clear: both;
	height: 176px;
	width: 100%;
	padding: 100px 40px;
	@include backVisual('pict/bg-appBanner-pict.jpg', center);
	.bottomDlBox {
	  color: #eee;
	  text-align: center;
	  &__title {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.4;
		@include textShadow;
	  }
	  &__text {
		font-size: 35px;
		@include textShadow;
	  }
	  &__btn {
		justify-content: center;
		@include dlBtn;
	  }
	}
}
