.bottomDl
  .bottomDlBox
    .bottomDlBox__title
      だれでもかんたん、人生を変えるフリマアプリ
    .bottomDlBox__text
      今すぐ無料ダウンロード！
    .bottomDlBox__btn
      =link_to '#', class: 'aBtn' do
        = image_tag 'download/aBtn.png', class: 'downloadBtn'
      =link_to '#', class: 'gBtn' do
        = image_tag 'download/bBtn.png', class: 'downloadBtn'