= render 'items/header'
%main.mypage__container.clearfix
  =render 'users/sidemenu'
  =render 'users/cards/creditcard_create'

= render 'items/appbanner'
-# footerの部分テンプレート呼び出し
= render 'items/footer'
= render 'items/camerabutton'
