= render 'items/header'
%main.mypage__container.clearfix
  =render 'users/sidemenu'
  -if @card.present?
    =render 'users/cards/creditcard_registered'
  -else
    =render 'users/cards/creditcard_new_confirm'
= render 'items/appbanner'
-# footerの部分テンプレート呼び出し
= render 'items/footer'
= render 'items/camerabutton'
